body {
  font-size: 170%;
  color: forestgreen;
  text-align: center;
}

div {
  background-color: white;
  border: 2px solid darkseagreen;
  border-radius: 0.6em;
  float: left;
  margin: 0.5em;
  padding-bottom: 0.2em;
  width: 23.3%;
}

h4 {
  border-bottom: 2px solid darkseagreen;
  color: lightseagreen;
  font-style: italic;
  margin: 0px;
}

a {
  color: lightseagreen;
  outline: none;
  text-decoration: none;
}

dl {
  margin: 0px;
  text-align: left;
}

dt { margin-left: 1.2em; }

dd { margin-left: 2em; }

hr {
  border-bottom: 1px solid darkseagreen;
  margin: 1px;
}

@media screen and (max-width: 960px) and (max-height: 1000px) {
  div { width: 29.9%; }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
  div {
    float: none;
    margin: 0.5em auto 0.5em auto;
    width: 90%;
  }
}
