body {
  font-size: 130%;
  text-align: center;
}

body > div {
  border: solid 1px;
  margin: 18.49% 38%;
  padding: 3%;
  text-align: center;
}

input { outline: none; }

button {
  font-size: 100%;
  margin-top: 3%;
}

a { color: black; }

@media screen and (max-width: 960px) and (min-height: 900px) {
  body > div { margin: 39.9% 30%; }
}

@media screen and (max-width: 960px) and (max-height: 600px) {
  body > div { margin: 12.3% 30%; }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
  body > div { margin: 68.8% 15%; }
  
  input { width: 8em; }
}
