* {
  color: forestgreen;
  font-family: "Times New Roman", "Times", serif;
  outline-color: darkseagreen;
}

::-webkit-scrollbar { display: none; }

::selection {
  background-color: darkseagreen;
  color: azure;
}

body { word-break: keep-all; }

header {
  font-size: 0.7em;
  border-bottom: 2px solid darkseagreen;
}

header > h1 {
  color: lightseagreen;
  margin-bottom: 0.4em;
  text-align: center;
}

button {
  border: none;
  outline: none;
}

a {
  color: lightseagreen;
  outline: none;
  text-decoration: none;
}

.disappear { display: none; }

.indentation {
  display: block;
  margin-left: 1.5em;
}

.horizon {
  border: none;
  border-bottom: 2px solid darkseagreen;
}

.dotted {
  border: none;
  border-bottom: 2px dotted darkseagreen;
}
