* {
  color: forestgreen;
  font-family: "Times New Roman", "Times", serif;
  outline-color: darkseagreen;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: darkseagreen;
  color: azure;
}

body {
  font-size: 170%;
  word-break: keep-all;
}

h4 {
  margin-bottom: -0.5em;
}

table {
  margin: 1em 0px;
  border-collapse: collapse;
  border-color: darkseagreen;
  text-align: center;
  font-size: 1em;
}

th {
  width: 5em;
  font-size: 80%;
}

a {
  color: lightseagreen;
  outline: none;
  text-decoration: none;
}

.small {
  width: 1em;
}

button {
  border: none;
  outline: none;
  font-size: 1em;
}

.detail {
  display: none;
  text-align: justify;
}

.detail > * {
  padding: 0.2em 0.5em;
}
