table {
  border-collapse: collapse;
  border-color: darkseagreen;
}

th { padding: 0% 0.5%; }

td { padding: 0% 1%; }

div { padding: 0px 1em; }

h2 { margin: 0.35%; }

span {
  color: azure;
  margin-left: 1em;
}

@media screen and (min-width: 960px) {
  .box {
    width: 47.84%;
    display: inline-grid;
  }
}
