body {
  font-size: 170%;
  text-align: center;
}

div {
  background-color: white;
  border: 2px solid darkseagreen;
  border-radius: 0.6em;
  float: left;
  margin: 0.62em;
  padding-bottom: 0.2em;
  width: 22.99%;
}

h4 {
  color: lightseagreen;
  font-style: italic;
  margin: 0px;
}

dl {
  margin: 0px;
  text-align: left;
}

dt { margin-left: 1.2em; }

dd { margin-left: 2em; }

hr {
  border-bottom: 1px solid darkseagreen;
  margin: 1px;
}

/* half, quarter */
@media screen and (max-width: 960px) {
  div {
    width: 29.9%;
    margin: 0.5em;
  }
}

/* mobile */
@media screen and (max-width: 400px) and (max-height: 700px) {
  div {
    float: none;
    margin: 0.5em auto;  /* margin: 0.25em; */
    width: 90%;  /* width: 45.22%; */
  }
}
