body { font-size: 130%; }

.box { margin-left: 0.62em; }

div.box {
  background-color: white;
  border: 2px solid darkseagreen;
  border-radius: 0.6em;
  margin: 0.62em;
  padding: 0.2em 0.2em 0.5em 0.2em;
}

div.return {
  margin: 0.2em 0px 0px 0px;
  background-color: azure;
  padding: 0px 0.2em 0.2em 0.2em;
}

.indentation { margin-left: 0.2em; }

div > a { margin-right: 1.2em; }

a.return { color: forestgreen; }

div li {
  list-style-type: georgian;
  margin-left: 0.2em;
}

hr {
  border: none;
  border-bottom: 2px dotted darkseagreen;
}

select {
  outline: none;
  border: none;
  font-size: 0.9em;
}
